.APP-card__product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.APP-product__info {
    /* margin-top: 2rem; */
}

.APP-product__image {
    /* height: 70%; */
}

.product__image-img {
    /* height: 70%; */
}

.APP-product__name {

}

.APP-prodcut__price {

}