.behind {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__modal {
    width: 50rem;
    height: auto;
    min-height: 25rem;
    padding: 2rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

.modal__title {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.modal__title-text {
    font-weight: 500;
}

.modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2.2rem;
    transition: all 300ms ease-in-out;
}

.modal__close:hover {
    color: green;
}

.modal__body {
    height: 100%;
    margin-bottom: 3rem;
}

.body__checkPassword {
    position: relative;
}

.checkPassword__title {
    font-weight: 500;
    margin-bottom: 2rem;
}

.checkPassword__input {
    padding: 0 1.5rem;
    height: 5rem;
    width: 100%;
    border: 1px solid greenyellow;
    border-radius: 8px;
}

.modal__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    justify-content: flex-end;
}

.footer__button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;

    transition: all 300ms ease-in-out;
}

.footer__button-check {
    background-color: greenyellow;
}

.footer__button-check:hover {
    background-color: green;
}

.footer__button-close {
    background-color: rgb(189, 68, 25);
}

.footer__button-close:hover {
    background-color: red;
}