.productBuy__container {
    width: 120rem;
    height: auto;
    position: relative;
    background: white;
    margin: 0 auto;
    margin-top: 10rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 300ms;
}

.productBuy__nav {
    width: 100%;
    color: #727272;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 2px solid #efefef;
}

.productBuy__nav__back {
    cursor: pointer;
    transition: all 300ms;
    font-size: 1.2rem;
}

.productBuy__nav__back:hover {
    color: #aedaa6;
}

.productBuy__information {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.productBuy__left {
    display: flex;
    padding: 3rem;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.productBuy__right {
    padding: 3rem;
    width: 100%;
    border-left: 2px solid #efefef;
}

.productBuy__title {
    color: #515151;
    font-weight: 300;
    padding-top: 15px;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.productBuy__category {
    margin: 0;
    color: #727272;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}

.productBuy__price {
    color: #515151;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.productBuy__description {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #727272;
    padding: 2rem 0;
    margin: 0;
}

.productBuy__AddToCartAndUnits {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productBuy__AddToCart {
    background: none;
    border: 1px solid #d9d9d9;
    padding: 1rem 0.5rem;
    color: #515151;
    text-transform: uppercase;
    width: 100%;
    transition: all 300ms ease;
    font-weight: 500;
}

.productBuy__AddToCart:hover {
    background-color: darken(white, 2%);
    border: 1px solid #aedaa6;
    color: #aedaa6;
    cursor: pointer;
}

.prodcutBuy__colors {
    display: flex;
    flex-direction: row;
}

.color {
    margin-top: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    background: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-right: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.color-black {
    background-color: #242424;
}
.color-blue {
    background-color: #085ea0;
}
.color-yellow {
    background-color: #c0b50d;
}
.color-red {
    background-color: #8b0516;
}
.color-white {
    background-color: #ededed;
}
.color:hover {
    box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.active-color {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}