.EFP-shop__container {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.EFP-cards__content {
    height: 50rem;
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 4rem;
}

.EFP-cards__shop {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.EFP-shop__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 2px black;
    z-index: 1;
}

.EFP-shop__img {
    width: 100%;
    height: 100%;
}