.CU-container__units {
    /* width: 50%; */
    margin-top: 1rems;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.CU-units__number {
    font-size: 2rem;
    color:  rgb(25, 167, 84);
}

.CU-units__counter {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.CU-counter__button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color:  rgb(25, 167, 84);
    border: 1px solid rgb(25, 167, 84);
    cursor: pointer;
    transition: all 300ms ease-out;
}

.CU-counter__button:hover {
    background-color: rgb(25, 167, 84);
    color: rgb(255, 255, 255);
}